In [42]:
print("Hello Neurons")

Hello Neurons

In [43]:
print("greetings from iNeurons")
print("Good Evening")

greetings from iNeurons
Good Evening

In [44]:
print("Good Evening Can you")
print(""" PRINTED 
WORK """) # this triplw quote is used to print multiline print statement and also its used to commenting between programs to comment multingline.

Good Evening Can you
 PRINTED
WORK

Multi line comments

In [45]:
print("""India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.[26][27][28] Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made the region highly diverse, second only to Africa in human genetic diversity.[29] Settled life emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago, evolving gradually into the Indus Valley Civilisation of the third millennium BCE.[30] By 1200 BCE, an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest.[31][32] Its evidence today is found in the hymns of the Rigveda. Preserved by a resolutely vigilant oral tradition, the Rigveda records the dawning of Hinduism in India.[33] The Dravidian languages of India were supplanted in the northern and western regions.[34] By 400 BCE, stratification and exclusion by caste had emerged within Hinduism,[35] and Buddhism and Jainism had arisen, proclaiming social orders unlinked to heredity.[36] Early political consolidations gave rise to the loose-knit Maurya and Gupta Empires based in the Ganges Basin.[37] Their collective era was suffused with wide-ranging creativity,[38] but also marked by the declining status of women,[39] and the incorporation of untouchability into an organised system of belief.[g][40] In South India, the Middle kingdoms exported Dravidian-languages scripts and religious cultures to the kingdoms of Southeast Asia.[41]

In the early medieval era, Christianity, Islam, Judaism, and Zoroastrianism became established on India's southern and western coasts.[42] Muslim armies from Central Asia intermittently overran India's northern plains,[43] eventually founding the Delhi Sultanate, and drawing northern India into the cosmopolitan networks of medieval Islam.[44] In the 15th century, the Vijayanagara Empire created a long-lasting composite Hindu culture in south India.[45] In the Punjab, Sikhism emerged, rejecting institutionalised religion.[46] The Mughal Empire, in 1526, ushered in two centuries of relative peace,[47] leaving a legacy of luminous architecture.[h][48] Gradually expanding rule of the British East India Company followed, turning India into a colonial economy, but also consolidating its sovereignty.[49] British Crown rule began in 1858. The rights promised to Indians were granted slowly,[50][51] but technological changes were introduced, and modern ideas of education and the public life took root.[52] A pioneering and influential nationalist movement emerged, which was noted for nonviolent resistance and became the major factor in ending British rule.[53][54] In 1947 the British Indian Empire was partitioned into two independent dominions,[55][56][57][58] a Hindu-majority Dominion of India and a Muslim-majority Dominion of Pakistan, amid large-scale loss of life and an unprecedented migration.[59]""")

India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.[26][27][28] Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made the region highly diverse, second only to Africa in human genetic diversity.[29] Settled life emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago, evolving gradually into the Indus Valley Civilisation of the third millennium BCE.[30] By 1200 BCE, an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest.[31][32] Its evidence today is found in the hymns of the Rigveda. Preserved by a resolutely vigilant oral tradition, the Rigveda records the dawning of Hinduism in India.[33] The Dravidian languages of India were supplanted in the northern and western regions.[34] By 400 BCE, stratification and exclusion by caste had emerged within Hinduism,[35] and Buddhism and Jainism had arisen, proclaiming social orders unlinked to heredity.[36] Early political consolidations gave rise to the loose-knit Maurya and Gupta Empires based in the Ganges Basin.[37] Their collective era was suffused with wide-ranging creativity,[38] but also marked by the declining status of women,[39] and the incorporation of untouchability into an organised system of belief.[g][40] In South India, the Middle kingdoms exported Dravidian-languages scripts and religious cultures to the kingdoms of Southeast Asia.[41]

In the early medieval era, Christianity, Islam, Judaism, and Zoroastrianism became established on India's southern and western coasts.[42] Muslim armies from Central Asia intermittently overran India's northern plains,[43] eventually founding the Delhi Sultanate, and drawing northern India into the cosmopolitan networks of medieval Islam.[44] In the 15th century, the Vijayanagara Empire created a long-lasting composite Hindu culture in south India.[45] In the Punjab, Sikhism emerged, rejecting institutionalised religion.[46] The Mughal Empire, in 1526, ushered in two centuries of relative peace,[47] leaving a legacy of luminous architecture.[h][48] Gradually expanding rule of the British East India Company followed, turning India into a colonial economy, but also consolidating its sovereignty.[49] British Crown rule began in 1858. The rights promised to Indians were granted slowly,[50][51] but technological changes were introduced, and modern ideas of education and the public life took root.[52] A pioneering and influential nationalist movement emerged, which was noted for nonviolent resistance and became the major factor in ending British rule.[53][54] In 1947 the British Indian Empire was partitioned into two independent dominions,[55][56][57][58] a Hindu-majority Dominion of India and a Muslim-majority Dominion of Pakistan, amid large-scale loss of life and an unprecedented migration.[59]

In [47]:
# more exceptional cases in print statements 
print("Hi my name is "Sunny" ")

SyntaxError: ignored

In [48]:
print("Hi my name is \"Sunny\"")

Hi my name is "Sunny"

In [49]:
print('Hi my name is "Sunny"')

Hi my name is "Sunny"

In [50]:
print("""Hi my name is "sunny" """)

Hi my name is "sunny"

### Example [Shift +Enter

In [51]:
123+245 # sum of 2 numbers

368

In [52]:
123*245

30135

In [53]:
123**2 #power of 123 raised to 2

15129

In [54]:
123%2 #modulo operator which gives you reminder

1

In [55]:
122%2

0

In [56]:
(-123)**2

15129

In [57]:
print(123*234)
print("Result")

28782
Result

# Variables in Python

In [58]:
x = 10

In [59]:
print(x)

10

In [60]:
y = 20
print(y)

20

In [61]:
print(y+x)

30

1. Variables names should start with alphaets
2. Variables name sshould not contain any special characters like ^ % $ @ # & * etc
3. Variables names can contain Numebers but you can't start with numbers
4. Its not strict rule that you should variable names with a capital letter. But is recommended to use small letters for that variables.

In [62]:
# Examples that allowed to initialised it.
ten = 10
ten_number = 10
tennumber = 10
ten10 = 10
__num = 456 #this is hidden variables.
Ten = 454

In [63]:
# Examples that are not allowed to initialised it & it throws an error called syntax error
# 1ten = 10
# $ten = 10
# ten% = 10

# Fundamental DATA TYPES bold text

Integers

In [64]:
a = 7
type(a)

int

Floats - Number Containing Decimal NUmbers

In [ ]:
pi = 3.14
type(pi)
x = 2.0
type(x)

In [74]:
pi = 22/7
pi

3.142857142857143

# Complex Numbers

In [75]:
a = 2+3j

In [76]:
a

(2+3j)

In [77]:
type(a)

complex

In [78]:
a.real

2.0

In [79]:
a.imag

3.0

#DYNAMIC TYPING

In [84]:
a = 22
print(type(a))
a = 22.22
print(type(a))
a = "Sunny"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [85]:
print(a)

Sunny

# STRONG TYPING

In [ ]:
"Day" + 1

In [87]:
"Day" + "1"

'Day1'

In [ ]:
print("22" + "22")
print(22+ "22")
print("22" + 22)

In [89]:
"Sunny " + "Chandra"

'Sunny Chandra'

In [91]:
22.1+1

23.1

In [92]:
a = 1 #int data type
b = 1.2 #float data type
c = "Sunny" #String Data types
1+2j # COmplex data types # rarely used

(1+2j)

In [94]:
print("HI ! Welcome to Class of Python Language")

HI ! Welcome to Class of Python Language

In [95]:
print("HI ! Welcome to Class of Python Language")

HI ! Welcome to Class of Python Language

In [104]:
language = "Python"
print("Hi welcome to class of " + language + " languages")

Hi welcome to class of Python languages
Hi welcome to class of Python language

In [105]:
#f -> Formatted String Method
print(f"Hi welcome to class of {language} language") #current standard approach used

Hi welcome to class of Python language

In [107]:
language = "Python"
ar = 'is the best'
print("Hi welcome to class of {} language".format(language)) #Old Way
print("Hi welcome to class of {} language {}".format(language, ar)) #Old Way

Hi welcome to class of Python language
Hi welcome to class of Python language is the best

In [106]:
#f -> Formatted String Method
num = "First"
print(f"Hi welcome to the {num} class of {language} language") #current standard approach used

Hi welcome to the First class of Python language

In [108]:
a = 22
b = 34
c = a + b
print(f"The result sum of two numbers a : {a} and b : {b} is = {c}")

The result sum of two numbers a : 22 and b : 34 is = 56

#Boolean Data Types

In [110]:
one = True
two =  False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [115]:
Class_starts_at = 3
you_came_at = 4
you_understood_all_conecpts = you_came_at < Class_starts_at
print(f"you understood everything ? : {you_understood_all_conecpts}")

you understood everything ? : False