# AGENDA
1. Control Flow Statements
  - if else
  - if elif else
  - Nested if else
  - Single Line if else [Not recommended]

2. Loops in python
  - for
  - while

## if else [Covered]

## If elif

Online Food Orders - Zomato App, Swiggy, Uber Eats

- if you order more than Rs. 499
  - discount = 20%
- if you order more than Rs. 999
  - discount = 30%
- if your order more than 1499
  - discount = 40%

In [ ]:
total_amount = 90 + 100 + 100 + 1000

print(f"Card total  : {total_amount}")

if total_amount > 999:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount : {price_after_discount}")
elif total_amount <= 999 and total_amount > 499: # 999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount : {price_after_discount}")
else:
  print(f"Pay amount : {total_amount}")

Card total  : 1290
Pay amount : 903.0

In [ ]:
total_amount = 90 + 100

print(f"Card total  : {total_amount}")

if total_amount > 999:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount : {price_after_discount}")
elif total_amount <= 999 and total_amount > 499: # 999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount : {price_after_discount}")
else:
  print(f"Pay amount : {total_amount}")

Card total  : 190
Pay amount : 190

In [ ]:
total_amount = 90 + 100 + 500

print(f"Card total  : {total_amount}")

if total_amount > 999:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount : {price_after_discount}")
elif total_amount <= 999 and total_amount > 499: # 999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount : {price_after_discount}")
else:
  print(f"Pay amount : {total_amount}")

Card total  : 690
Pay amount : 552.0

In [ ]:
total_amount = 90 + 100 + 500

print(f"Card total  : {total_amount}")

if total_amount > 999:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount : {price_after_discount}")
elif 499 < total_amount <= 999 : # 999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount : {price_after_discount}")
else:
  print(f"Pay amount : {total_amount}")

Card total  : 690
Pay amount : 552.0

In [13]:
total_amount = 90 + 100 + 500 + 1000

print(f"Card total  : {total_amount}")

if total_amount > 1499:
  price_after_discount = total_amount * 60/100
  print(f"Pay amount : {price_after_discount}")  
elif 999 < total_amount <= 1499:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount : {price_after_discount}")
elif 499 < total_amount <= 999 : # 999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount : {price_after_discount}")
else:
  print(f"Pay amount : {total_amount}")

Card total  : 1690
Pay amount : 1014.0

### Nested if else

print if the no is negative or positive

In [16]:
val = float(input("Enter a Number : "))
if val >= 0:
  if val == 0:
    print("Its Zero.")
  else:
    print("Its a positive Number.")
else:
  print("Negative Number.")

Enter a Number : 0
Its Zero

### Single line if else

NOTE : NOT RECOMMENDED FOR CODING IN PROJECTS OR PRODUCTION

but good for competitive programming

print YES if the no is greater than 99

In [19]:
# Ok for COmpetitive Program
# For production code or in a company its not recommended
val = float(input("Enter a number : "))

if val > 99 : print("YES")
else : print("NO")

Enter a number : 20
NO

In [ ]:
# Recommended approach
# Its more readable and clean
val = float(input("Enter a number : "))

if val > 99 :
  print("YES")
else :
  print("NO")

In [21]:
# only good for competitive programming
val = float(input("Enter a number : "))
print("Yes" if val > 99 else "NO")

Enter a number : 555
Yes

## Loops
- while loop
- For loop
- Loop Control
  - Break
  - Continue
  - Pass
- Nested Loop

# UPSC, IAS, Government Exams, Board Exams,
## Repetive Attempts

While i do not cross the cutoff i will keep on giving my exams.

while Condition is True :
  print()

In [26]:
Total_marks = 1000
cutoff = 400
score = [100, 200, 300, 399, 500]

# I will keep on attempting untill i Succeed.
year = 0 # Index in python starts with 0

while score[year] < cutoff:
  print(f"Your Score is : {score[year]}, cutoff : {cutoff}")
  print("I will attempt next year")
  year = year + 1 # I am adding 1 to currect year.

Your Score is : 100, cutoff : 400
I will attempt next year
Your Score is : 200, cutoff : 400
I will attempt next year
Your Score is : 300, cutoff : 400
I will attempt next year
Your Score is : 399, cutoff : 400
I will attempt next year

## Infinite loop
if the condition is always True then you loop will keep on running...

In [25]:
year = 0
score[year]

200

In [ ]:
"""
Child is learning to counting 10 rupees of note 
"""
notes = 10
i = 1 # 1st note

while i <= notes:
  print(f"Current sum : {i * 10 }")
  i = i+1

In [34]:
# Train Journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]
current_stations = 0
destination = "Station 03"
while stations[current_stations] != destination:
  print(f"Current Station is : {stations[current_stations]}")
  print(f"My destination is : {destination}")
  print("Continue the Journey i haven't reached the destination.")
  current_stations = current_stations + 1
  print(f"Next Station is : {stations[current_stations]}")
  print("------------------------------------------")

Current Station is : Station 01
My destination is : Station 03
Continue the Journey i haven't reached the destination.
Next Station is : Station 02
------------------------------------------
Current Station is : Station 02
My destination is : Station 03
Continue the Journey i haven't reached the destination.
Next Station is : Station 03
------------------------------------------

## While else

In [35]:
# Train Journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]
current_stations = 0
destination = "Station 03"
while stations[current_stations] != destination:
  print(f"Current Station is : {stations[current_stations]}")
  print(f"My destination is : {destination}")
  print("Continue the Journey i haven't reached the destination.")
  current_stations = current_stations + 1
  print(f"Next Station is : {stations[current_stations]}")
  print("------------------------------------------")
else:
  print(f"I Have arrived at : {stations[current_stations]}")

Current Station is : Station 01
My destination is : Station 03
Continue the Journey i haven't reached the destination.
Next Station is : Station 02
------------------------------------------
Current Station is : Station 02
My destination is : Station 03
Continue the Journey i haven't reached the destination.
Next Station is : Station 03
------------------------------------------
I Have arrived at : Station 03

```
while CONDITION is True:
  Statement
else:
  Statement
```

In [39]:
"""
Child is learning to counting 10 rupees of note 
"""
notes = 5
i = 1 # 1st note

while i <= notes:
  print(f"CONDITION {i <= notes}")
  print(f"Current sum : {i * 10 }")
  i = i+1
  print("-----------")
else:
  print(f"CONDITION {i <= notes}")
  print("No more 10 Rupees notes left.")

CONDITION True
Current sum : 10
-----------
CONDITION True
Current sum : 20
-----------
CONDITION True
Current sum : 30
-----------
CONDITION True
Current sum : 40
-----------
CONDITION True
Current sum : 50
-----------
CONDITION False
No more 10 Rupees notes left.

## for loop

In [40]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
for i in range(0, 10): # (10 here is out of bound)
  print(f"10 x {i} = {10*i}")

10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90

In [42]:
for i in range(0, 10): # (10 here is out of bound)
  print(f"10 x {i + 1} = {10*(i+1)}")

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [43]:
for i in range(1, 11): # (11 here is out of bound)
  print(f"10 x {i} = {10*(i)}")

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [45]:
"sunny"*10

'sunnysunnysunnysunnysunnysunnysunnysunnysunnysunny'

In [ ]:
"sunny"+"sunny"

In [44]:
for i in range(1, 11): # (11 here is out of bound)
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [46]:
# i is not necessary to use

for sunny in range(1, 11): # (11 here is out of bound)
  print("*"*sunny)

*
**
***
****
*****
******
*******
********
*********
**********

In [48]:
cost_of_items = [100,200,129,456]
total_sum = 0
for i in range(0,4):
  print(f"{total_sum} = {total_sum} + {cost_of_items[i]}")
  total_sum = total_sum + cost_of_items[i]
  print(f"after adding total_sum = {total_sum}")
  print("---------------")
print(f"Total amount to be paid : {total_sum}")

0 = 0 + 100
after adding total_sum = 100
---------------
100 = 100 + 200
after adding total_sum = 300
---------------
300 = 300 + 129
after adding total_sum = 429
---------------
429 = 429 + 456
after adding total_sum = 885
---------------
Total amount to be paid : 885

In [49]:
cost_of_items = [100,200,129,456]
total_sum = 0
for i in range(0,3):
  print(f"{total_sum} = {total_sum} + {cost_of_items[i]}")
  total_sum = total_sum + cost_of_items[i]
  print(f"after adding total_sum = {total_sum}")
  print("---------------")
print(f"Total amount to be paid : {total_sum}")

0 = 0 + 100
after adding total_sum = 100
---------------
100 = 100 + 200
after adding total_sum = 300
---------------
300 = 300 + 129
after adding total_sum = 429
---------------
Total amount to be paid : 429

In [50]:
len(cost_of_items)

4

In [54]:
cost_of_items = [100,200,129,456, 1000]
total_sum = 0
n = len(cost_of_items)
for i in range(0, n):
  print(f"{total_sum} = {total_sum} + {cost_of_items[i]}")
  total_sum = total_sum + cost_of_items[i]
  print(f"after adding total_sum = {total_sum}")
  print("---------------")
print(f"Total amount to be paid : {total_sum}")

0 = 0 + 100
after adding total_sum = 100
---------------
100 = 100 + 200
after adding total_sum = 300
---------------
300 = 300 + 129
after adding total_sum = 429
---------------
429 = 429 + 456
after adding total_sum = 885
---------------
885 = 885 + 1000
after adding total_sum = 1885
---------------
Total amount to be paid : 1885

In [55]:
cost_of_items = [100,200,129,456, 1000]
total_sum = 0
n = len(cost_of_items)
for cost in cost_of_items:
  print(f"{total_sum} = {total_sum} + {cost}")
  total_sum = total_sum + cost
  print(f"after adding total_sum = {total_sum}")
  print("---------------")
print(f"Total amount to be paid : {total_sum}")

0 = 0 + 100
after adding total_sum = 100
---------------
100 = 100 + 200
after adding total_sum = 300
---------------
300 = 300 + 129
after adding total_sum = 429
---------------
429 = 429 + 456
after adding total_sum = 885
---------------
885 = 885 + 1000
after adding total_sum = 1885
---------------
Total amount to be paid : 1885

In [56]:
cost_of_items = [100,200,129,456, 1000]
total_sum = 0
n = len(cost_of_items)
for cost in cost_of_items:
  print(cost)

100
200
129
456
1000

In [57]:
cost_of_items = [100,200,129,456, 1000]
total_sum = 0
n = len(cost_of_items)
for i in range(0, n):
  print(cost_of_items[i])

100
200
129
456
1000

In [59]:
# Train Journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for sunny in stations:
  print(f"Current station is : {sunny}")

Current station is : Station 01
Current station is : Station 02
Current station is : Station 03
Current station is : Station 04

In [60]:
# Train Journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_stat in stations:
  print(f"Current station is : {current_stat}")

Current station is : Station 01
Current station is : Station 02
Current station is : Station 03
Current station is : Station 04

### break and Continue

In [73]:
cost_of_items = [100,200,129,456, 1000, 199,299]

total_sum = 0
budget = 2000

for cost in cost_of_items:
  total_sum = total_sum + cost
  print(f"Current Total : {total_sum}")
  if total_sum > budget:
    print(f"Since Current Total is more than my budget : {budget}")
    print("Please remove the last items.")
    total_sum = total_sum - cost
    break
print(f"Total amount to be paid : {total_sum}")

Current Total : 100
Current Total : 300
Current Total : 429
Current Total : 885
Current Total : 1885
Current Total : 2084
Since Current Total is more than my budget : 2000
Please remove the last items.
Total amount to be paid : 1885

In [ ]:
for i in range(1,100):
  print(i)
  if i > 50:
    break

In [ ]:
for i in range(1,100):
  if i > 50:
    break
  print(i)

In [ ]:
for i in range(1,100):
  print(i)
  if i >= 50:
    break

## Continue

In [ ]:
for i in range(1,20):
  if i%2 == 0: # if number is even the start the loop again
    continue # START THE LOOP AGAIN
  print(i)

In [ ]:
for i in range(1,20):
  if i%2 != 0: # if number is even the start the loop again
    continue # START THE LOOP AGAIN
  print(i)

In [84]:
for i in range(1,20):
  if i%2 == 0:
    break
  print(i)

1

In [85]:
for i in range(1,20):
  if i%2 != 0: 
    break # STOP THE LOOP DON'T PROCEED AT ALL
  print(i)

In [86]:
# Train Journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_st in stations:
  print(f"Current station is : {current_st}")
  if current_st == "Station 03":
    break

Current station is : Station 01
Current station is : Station 02
Current station is : Station 03

In [87]:
# Train Journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_st in stations:
  print(f"Current station is : {current_st}")
  if current_st == "Station 02":
    break

Current station is : Station 01
Current station is : Station 02

In [89]:
# Train Journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_st in stations:
  if current_st == "Station 02":
    continue
  print(f"Current station is : {current_st}")

Current station is : Station 01
Current station is : Station 03
Current station is : Station 04

- break : it completely stop the loop
- continue : it skip the current loop, it skip the statement after `continue` keyword

In [90]:
for i in range(1,10):
  pass #i want to write code later

In [91]:
# Train Journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_st in stations:
  if current_st == "Station 02":
    pass
  print(f"Current station is : {current_st}")

Current station is : Station 01
Current station is : Station 02
Current station is : Station 03
Current station is : Station 04