## Nesting of the List

list inside a list

In [1]:
A = [[1,2,3], [11,22,33], [45,56,77]]

A

[[1, 2, 3], [11, 22, 33], [45, 56, 77]]

In [2]:
A[0]

[1, 2, 3]

In [3]:
A[1]

[11, 22, 33]

In [4]:
A[1][1]

22

In [5]:
A = [[1,2,3], [11,22,33, [500,502]], [45,56,77]]

A[0]

[1, 2, 3]

In [6]:
A[1]

[11, 22, 33, [500, 502]]

In [7]:
A[1][3]

[500, 502]

In [8]:
A[1][3][0]

500

In [9]:
A = [[1,2,3], [11,22,33, [500,502]], [45, [239, "Hii"], 56, 77]]

In [10]:
A[0]

[1, 2, 3]

In [11]:
A[2][1][1]

'Hii'

In [12]:
A[-1][1][-1]

'Hii'

In [13]:
A[-1][-3][-1]

'Hii'

In [14]:
amazon_cart = [["Watch", 5000], ["Phone", 10000], ["Laptop", 50000]]
total_cost = 0

In [15]:
#without for loop

amazon_cart[0][1]

5000

In [16]:
amazon_cart[1][1]

10000

In [17]:
amazon_cart[2][1]

50000

In [18]:
amazon_cart[0][1] + amazon_cart[1][1] + amazon_cart[2][1]

65000

In [19]:
#with for loop
total_cost = 0

for i in range(len(amazon_cart)):
  # print(i)
  print(amazon_cart[i][1])
  total_cost = total_cost + amazon_cart[i][1]
print(total_cost)

5000
10000
50000
65000

In [20]:
total_cost = 0
print(f"Empty Cart : {total_cost}")
for item in amazon_cart:
  print(item[1])
  total_cost = total_cost + item[1]
  print(f"cart after Adding {item[0]} : {total_cost}")

print(f"Total Payable Amout : {total_cost}")

Empty Cart : 0
5000
cart after Adding Watch : 5000
10000
cart after Adding Phone : 15000
50000
cart after Adding Laptop : 65000
Total Payable Amout : 65000

## List Comprehension

In [21]:
# List which contains list of square of nos between 1 to 10

A = [1,2,3,4,5,6,7,8,9,10]
# ans = [1, 4,9,4....]

In [22]:
A = [1,2,3,4,5,6,7,8,9,10]
ans = list() #this will create empty list which you will append items later
for ele in A:
  # print(ele**2)
  ans.append(ele**2)
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
ans = [ele**2 for ele in A]
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
ans = [i**2 for i in A]
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
# only take the square of odd no in the list A
A = [1,2,3,4,5,6,7,8,9,10]
ans = list()
for ele in A:
  if ele%2 != 0:
    # print(ele**2)
    ans.append(ele**2)
print(ans)

[1, 9, 25, 49, 81]

In [29]:
ans = [i**2 for i in A if i%2 != 0]
print(ans)

[1, 9, 25, 49, 81]

## COUNT

In [30]:
A = [1,2,1,4,5,6,7,7,7]

In [31]:
A.count(1)

2

In [32]:
A.count(7)

3

In [33]:
A.count(999)

0

In [40]:
A = [1,2,1,4,5,6,7,7,7]
for i in A:
  print(i, A.count(i))

1 2
2 1
1 2
4 1
5 1
6 1
7 3
7 3
7 3

In [34]:
A = [1,2,1,4,5,6,[7,7],[7,7]]
A.count([7,7])

2

In [36]:
A.count(7)

0

In [38]:
A[-1].count(7)

2

In [42]:
A = "Sunny"
for i in A:
  print(i, A.count(i))

S 1
u 1
n 2
n 2
y 1

In [43]:
A = ["Sunny", "Sunny", "Chandra"]
for i in A:
  print(i, A.count(i))

Sunny 2
Sunny 2
Chandra 1

In [44]:
A = ["Sunny", "SUNNY", "Chandra"]
for i in A:
  print(i, A.count(i))

Sunny 1
SUNNY 1
Chandra 1

### EXTEND

In [50]:
A = [1,2,3]
B= [11,22,33]
print(A+B)
print("Before Assignment")
print(A)

A = A+B
print("After Assignment")
print(A)

[1, 2, 3, 11, 22, 33]
Before Assignment
[1, 2, 3]
After Assignment
[1, 2, 3, 11, 22, 33]

In [47]:
A = [1,2,3]
B= [11,22,33]
A.extend(B) # Permanent Operation, inplace assignment
A

[1, 2, 3, 11, 22, 33]

In [48]:
A = [1,2,3]
B= [11,22,33]
A.append(B) # Permanent Operation, inplace assignment
A

[1, 2, 3, [11, 22, 33]]

## Index Method

In [56]:
A = [11,3,4,56+2j,"Sunny", 1+2j]

In [57]:
A.index(11)

0

In [58]:
A.index("Sunny")

4

In [71]:
# print the index of all the comple no.s
# do a for loop
# if condition for type check
# if type is complexthen print the index

a = [A.index(i) for i in A if type(i) == complex]
print(a)

for ele in A:
  if type(ele) == complex :
    print(f"Elemen : {ele} \| Type : {type(ele)} \| Index : {A.index(ele)}")

[3, 5]
Elemen : (56+2j) \| Type : <class 'complex'> \| Index : 3
Elemen : (1+2j) \| Type : <class 'complex'> \| Index : 5

In [72]:
for ele in A:
  if type(ele) == int :
    print(f"Elemen : {ele} \| Type : {type(ele)} \| Index : {A.index(ele)}")

Elemen : 11 \| Type : <class 'int'> \| Index : 0
Elemen : 3 \| Type : <class 'int'> \| Index : 1
Elemen : 4 \| Type : <class 'int'> \| Index : 2

In [74]:
for ele in A:
  if type(ele) == str :
    print(f"Elemen : {ele} \| Type : {type(ele)} \| Index : {A.index(ele)}")

Elemen : Sunny \| Type : <class 'str'> \| Index : 4

### isinstance

In [75]:
for ele in A:
  if isinstance(ele, complex):
    print(f"Elemen : {ele} \| Type : {type(ele)} \| Index : {A.index(ele)}")

Elemen : (56+2j) \| Type : <class 'complex'> \| Index : 3
Elemen : (1+2j) \| Type : <class 'complex'> \| Index : 5

In [76]:
for ele in A:
  if isinstance(ele, int):
    print(f"Elemen : {ele} \| Type : {type(ele)} \| Index : {A.index(ele)}")

Elemen : 11 \| Type : <class 'int'> \| Index : 0
Elemen : 3 \| Type : <class 'int'> \| Index : 1
Elemen : 4 \| Type : <class 'int'> \| Index : 2

In [77]:
for ele in A:
  if isinstance(ele, str):
    print(f"Elemen : {ele} \| Type : {type(ele)} \| Index : {A.index(ele)}")

Elemen : Sunny \| Type : <class 'str'> \| Index : 4

In [82]:
ans = [ele for ele in A if isinstance(ele, complex)]
print(ans)

[(56+2j), (1+2j)]

In [83]:
ans = [ele for ele in A if type(ele) == complex]
print(ans)

[(56+2j), (1+2j)]

In [79]:
# print the index all the complex and int also
for ele in A:
  if isinstance(ele, complex) or isinstance(ele, int):
    print(f"Elemen : {ele} \| Type : {type(ele)} \| Index : {A.index(ele)}")

Elemen : 11 \| Type : <class 'int'> \| Index : 0
Elemen : 3 \| Type : <class 'int'> \| Index : 1
Elemen : 4 \| Type : <class 'int'> \| Index : 2
Elemen : (56+2j) \| Type : <class 'complex'> \| Index : 3
Elemen : (1+2j) \| Type : <class 'complex'> \| Index : 5

In [81]:
# print the index all the complex and int also
for ele in A:
  if isinstance(ele, (complex, int)): #Pythonic Way # OR case
    print(f"Elemen : {ele} \| Type : {type(ele)} \| Index : {A.index(ele)}")

Elemen : 11 \| Type : <class 'int'> \| Index : 0
Elemen : 3 \| Type : <class 'int'> \| Index : 1
Elemen : 4 \| Type : <class 'int'> \| Index : 2
Elemen : (56+2j) \| Type : <class 'complex'> \| Index : 3
Elemen : (1+2j) \| Type : <class 'complex'> \| Index : 5

In [86]:
A = [11,3,4,56+2j,"Sunny", 1+2j, 3,3,]  # duplicate elements
A.index(3)

1

In [88]:
A = [11,"xyz", 3,4,56+2j,"Sunny", 1+2j, 3,3,]  # duplicate elements
A.index(3)

2

In [91]:
A = [11,"xyz", 3,4,56+2j,"Sunny", 1+2j, 3,3,]  # duplicate elements
A.index(4444)

ValueError: ignored

In [89]:
A = [1,2,3,[4,5,6],7,8,9]
A.index(4)

ValueError: ignored

In [92]:
A = [1,2,3,[4,5,6],7,8,9]
A.index([4,5,6])

3

In [90]:
A = [1,2,3,[4,5,6],7,8,9]
A[3].index(4)

0

## Insert

In [93]:
A = [1,2,3,4,5]
A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [94]:
A.insert(2, "Sunny")
A

[1, 2, 'Sunny', 3, 4, 5, 99]

In [95]:
A.insert(2000, "Sunny")
A

[1, 2, 'Sunny', 3, 4, 5, 99, 'Sunny']

In [97]:
A[2000]

IndexError: ignored

In [96]:
A.insert(-2000, "Sunny")
A

['Sunny', 1, 2, 'Sunny', 3, 4, 5, 99, 'Sunny']

In [ ]:
A[2000]

In [101]:
A = [3,4,5]
len(A)

3

In [103]:
A.insert(2000, "Sunny")
len(A)

5

In [104]:
A.insert(, "Sunny")
len(A)

SyntaxError: ignored

In [105]:
A.insert("Sunny")
len(A)

TypeError: ignored

In [106]:
A

[3, 4, 'Sunny', 5, 'Sunny']

In [108]:
A.insert(2, [1,2,34])
A

[3, 4, [1, 2, 34], [1, 2, 34], 'Sunny', 5, 'Sunny']

## remove

In [109]:
A = [1,2,3,455,6,77]

A.remove(455)
A

[1, 2, 3, 6, 77]

In [110]:
A = [1,2,3,455,6,77]

A.remove(77)
A

[1, 2, 3, 455, 6]

In [111]:
A = [1,1,2,3,455,6,77]

A.remove(1)
A

[1, 2, 3, 455, 6, 77]

In [112]:
A = [1,1,2,3,455,6,88,6,77]

A.remove(6)
A

[1, 1, 2, 3, 455, 88, 6, 77]

In [113]:
A = [1,1,2,3,455,6,88,6,77]

A.remove(9999)
A

ValueError: ignored

In [114]:
A.pop(-1)
A

[1, 1, 2, 3, 455, 6, 88, 6]

In [115]:
A.pop() # this remove the last element
A

[1, 1, 2, 3, 455, 6, 88]

# TUPLES - () - Immutable
list = [] - Mutable

In [116]:
A = (1,2,3)

In [117]:
type(A)

tuple

In [118]:
A[0]

1

In [119]:
A[-1]

3

In [120]:
A[0] = 22

TypeError: ignored

In [121]:
A = (22,12,34,1)

In [122]:
A.sort()
A

AttributeError: ignored

In [127]:
sorted(A) # Convert it into the list anf then return the sorted list
A

[1, 12, 22, 34]

In [128]:
A = sorted(A)
A

[1, 12, 22, 34]

In [129]:
A = (22,12,34,1)

len(A)

4

In [130]:
A * 2

(22, 12, 34, 1, 22, 12, 34, 1)

In [133]:
A = A*2
A

(22, 12, 34, 1, 22, 12, 34, 1)

In [131]:
A

(22, 12, 34, 1)

In [132]:
A **2

TypeError: ignored

In [139]:
A = (22,12,34,1)

In [140]:
max(A)

34

In [141]:
min(A)

1

In [142]:
A.index(12)

1

In [143]:
A.count(12)

1

In [144]:
sum(A)

69

In [146]:
# A.reversed()

AttributeError: ignored

In [147]:
A

(22, 12, 34, 1)

In [148]:
A[1:]

(12, 34, 1)

In [149]:
A[::-1]

(1, 34, 12, 22)

In [154]:
# ("item Name", amount)

amazon_cart = [("Watch", 5000), ("Phone", 10000), ("Laptop", 50000), ("Shirt", 1000)]

total_cost = 0

In [155]:
total_cost = 0
print(f"Empty Cart : {total_cost}")
for item in amazon_cart:
  print(item[1])
  total_cost = total_cost + item[1]
  print(f"cart after Adding {item[0]} : {total_cost}")

print(f"Total Payable Amout : {total_cost}")

Empty Cart : 0
5000
cart after Adding Watch : 5000
10000
cart after Adding Phone : 15000
50000
cart after Adding Laptop : 65000
1000
cart after Adding Shirt : 66000
Total Payable Amout : 66000

In [171]:
# user input what you want to purchase?
#
amazon_website = [("Watch", 5000), ("Phone", 10000), ("Laptop", 50000), ("Shirt", 1000)]
my_choice = input("What you want to purchase ? : ")

What you want to purchase ? : Phone

In [172]:
my_choice

'Phone'

In [174]:
for items in amazon_website:
  if items[0] == my_choice:
    print(items)

('Phone', 10000)

## ASSIGNMENT

1. On amazon Website we have the following items -
```python
amazon_website = [("Watch", 5000), ("Phone", 10000), ("Laptop", 50000), ("Shirt", 1000)]
```

Take the user input N no. of times and find out the total cost to be paid?

or

you can as the use auantity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total.

HINT : while, for loop... indexing

# SETS

Unordered Collection of unique elements

In [175]:
x = {1,2,33,6,7}

In [176]:
type(x)

set

In [177]:
x = {1,2,33,6,7, 7,7}
x

{1, 2, 6, 7, 33}

In [178]:
x = set() #recommended
type(x)

set

In [179]:
x = {} # Not recommended
type(x)

dict

In [180]:
x = tuple() 
x

()

In [181]:
x = list()
x

[]

In [182]:
x = {1,2,33,6,7, 7,7}
x

{1, 2, 6, 7, 33}

In [184]:
x[0] # Not allowed as set is unordered

TypeError: ignored

In [191]:
x = {1,2,33,6,"Sunny"}
x

{1, 2, 33, 6, 'Sunny'}

In [192]:
x.add(99)
x

{1, 2, 33, 6, 99, 'Sunny'}

In [193]:
x.add(99+2j)
x

{(99+2j), 1, 2, 33, 6, 99, 'Sunny'}

In [194]:
x.add(-100)
x

{(99+2j), -100, 1, 2, 33, 6, 99, 'Sunny'}

In [195]:
x.add(-200)
x

{(99+2j), -100, -200, 1, 2, 33, 6, 99, 'Sunny'}

In [196]:
x.add(20.2)
x

{(99+2j), -100, -200, 1, 2, 20.2, 33, 6, 99, 'Sunny'}

In [197]:
x.add(40.2)
x

{(99+2j), -100, -200, 1, 2, 20.2, 33, 40.2, 6, 99, 'Sunny'}

In [198]:
x.remove(-100)

x

{(99+2j), -200, 1, 2, 20.2, 33, 40.2, 6, 99, 'Sunny'}

In [190]:
## returnthe list with unique elements

A = [1,2,3,5,5,6,6,7,7,7]
A = list(set(A))
A

[1, 2, 3, 5, 6, 7]

In [187]:
x.append(99)
x

AttributeError: ignored

In [188]:
A = {1,2,3}
B = {4,5,6}

A+B

TypeError: ignored