In [1]:
a = "sudh"

In [2]:
len(a)

4

In [3]:
l = [2,3,4,5,"sudh", 4.67]

In [4]:
len(l)

6

In [5]:
def test():
    pass

In [6]:
def test1():
    print("this is my very first function in python")

In [7]:
test1()

this is my very first function in python

In [8]:
a = 1

In [9]:
b = test1()

this is my very first function in python

In [14]:
type(b)

NoneType

In [10]:
b

In [11]:
print(b)

None

In [12]:
c = "kumar"

In [13]:
type(c)

str

In [15]:
type(test1())

this is my very first function in python

NoneType

In [16]:
def test2():
    return 5

In [17]:
test2()

5

In [18]:
d = test2()

In [19]:
d

5

In [20]:
type(print("dfdsf"))

dfdsf

NoneType

In [21]:
def test3():
    return 5

In [22]:
def test4():
    print("this is my print return")

In [23]:
test3()

5

In [25]:
e = test4()

this is my print return

In [27]:
e + "sudh"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [28]:
def test3():
    return "sudh"

In [29]:
test3() + "kumar"

'sudhkumar'

In [30]:
test4() + "kumar"

this is my print return

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [33]:
def test5():
    print("this is my python code")

In [34]:
def test6():
    return 1,3, [3,4,5,"sudh"], (3,4,5,6)

In [35]:
test6()

(1, 3, [3, 4, 5, 'sudh'], (3, 4, 5, 6))

In [36]:
type(test6())

tuple

In [37]:
test6()[1]

3

In [38]:
test6()[2]

[3, 4, 5, 'sudh']

In [39]:
test6()[3]

(3, 4, 5, 6)

In [40]:
def test7():
    return 1,3, [3,4,5,"sudh"], (3,4,5,6)

In [42]:
a,b,c,d = test7()

In [43]:
a

1

In [44]:
b

3

In [45]:
c

[3, 4, 5, 'sudh']

In [46]:
d

(3, 4, 5, 6)

In [47]:
a = 1
b = 3
c = "sudh"

In [48]:
a,b,c = 1,3,"sudh"

In [50]:
def test8():
    a = 4*5+8
    return a

In [52]:
test8() + 8

36

In [53]:
type(test8())

int

In [60]:
def test9():
    l = [2,3,4,5,6,7,8,9, "sudh"]

    a = 0
    for i in l:
        if type(i) == int:
            a = a+i
    return a

In [61]:
test9()

44

In [63]:
len("sudh")

4

In [65]:
len([4,5,6])

3

In [73]:
l1 = [4,5,6,7,7,8,"kmar", 4.56]

In [83]:
def test10(l):
    a = 0
    for i in l:
        if type(i) == int or type(i) == float :
            a = a+i
    return a

In [84]:
test10(l1)

41.56

In [77]:
def test11(a,b):
    return a+b

In [79]:
test11(2,3)

5

In [80]:
test11("sudh","kumar")

'sudhkumar'

In [81]:
test11(a = 7, b=5)

12

In [82]:
test11(b = 8 , a = 5)

13

In [107]:
l = [3,4,5,6,7,8,"sudh", 5,6,7,"kumar", "ineuron"]

In [116]:
def test12(l):
    """this is my function which will help you to separate a string into a new list"""
    a = list()
    for i in l:
        if type(i) == str:
            a.append(i)
    return a

In [109]:
print(a)

['sudh', 'kumar', 'ineuron']

In [110]:
test12(l)

['sudh', 'kumar', 'ineuron']

In [111]:
l2 = ["fsfda", "dfdsf", "abc", 456,56]

In [112]:
test12(l2)

['fsfda', 'dfdsf', 'abc']

In [113]:
len("sdf")

3

In [114]:
print()

In [ ]:
test12()

In [121]:
l2

['fsfda', 'dfdsf', 'abc', 456, 56]

In [ ]:
1. write a function which will try to find out len of a string withoout using
and inbuilt len function.
2. Write a function wchich will be able to print an index of list
element without using an ndex function
3. Write a function which wil be able to print an ip address of your system
4. Write a function which will shutdown your system
5. Write a function which will take input as a list with any kind of numberic
value and give out as a multiplication of all the numeric data
l = [3.5,6.56,4,5,"sudh", "iNeuron", "fsds boothcamp 2.0"]
6. Write a fucntion which will be able to read all the mails
7. Write a function which will be able to send a maill to anyone
8. Write a function which will be able to read a doc/word file from your system

you are suppose to complete this by oct 30th before your live class and
you have to send a solution at mail id - query@ineuron.ai
or submit your git link to mail